{% extends 'base.html' %}


{% block content %}



<div class="super_container">
    
    

	
    

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Container -->
				<div class="col-lg-8">
					<div class="news_container">
						
                    {% for abouts in about %}
                        <!-- News Post -->
						<div class="news_post">
							<div class="news_post_content">
								<div class="news_post_date d-flex flex-row align-items-end justify-content-start">
									<div>02</div>
									<div>june</div>
								</div>
								<div class="news_post_title"><a href="#">{{ abouts.title }}</a></div>
								<div class="news_post_category">
									<ul>
										<li><a href="#">education</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>{{ abouts.disc }}</p>
								</div>
								<div class="news_post_link"><a href="#">Read More</a></div>
							</div>
						</div>
                    {% endfor %}    
						<!-- News Post -->
						

						<!-- News Post -->
						

					</div>

					<!-- Pagination -->
					
				</div>

				<!-- News Sidebar -->
				<div class="col-lg-4">
					<div class="news_sidebar">

						<!-- Categories -->
						<div class="categories">
							<div class="sidebar_title">Categories</div>
							<div class="sidebar_list">
								<ul>
									<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Education<span class="ml-auto">(09)</span></div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Organization<span class="ml-auto">(12)</span></div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Tips & Tricks<span class="ml-auto">(16)</span></div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Uncategorized<span class="ml-auto">(22)</span></div></a></li>
								</ul>
							</div>
						</div>						
						
					</div>
				</div>
			</div>
		</div>
    </div>
    
   
</div>




{% endblock %}
